*{
    font-size: 20px;
    font-style: "微軟正黑體",sans-serif;
}

/*反白設計*/
::selection{
    background: gold;
    color: white;
}
::-moz-selection{
    background: gold;
    color: white;
}

/*Scroll Bar設計(限Google,Safari)*/
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #eec8c4;
}
::-webkit-scrollbar-thumb:hover{
    background: white;
    transition: all 0.2s ease;
}
::-webkit-scrollbar-track{
    background: #eeb7b2;
}
::-webkit-scrollbar-button{
    display: none;
}

/*gotoTop回首頁*/

#gotopButton{
    right: 100px;
    bottom: 100px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}

/*navigation bar*/
nav{
    margin-top: -160px;
    text-align: center;  /*此行必在導覽列裡，在子物件使用inline-block就能平行並排*/
}

nav div,#PIC{
    display: inline-block;
    color: white;
    background-color: #eeb7b2;
    width: 9.1%;
    height: 68px;
    margin: 50px 1.15%;
    text-decoration: none;
}

/*article*/
article div{
    height: 500px;
    background-color: #eeb7b2;
    text-align: center;/*此行必在主題欄裡，在子物件使用inline-block就能平行並排*/
    color: white;
}

article div div{
    display: inline-block;
    width: 500px;
    background-color: #eeb7b2;
    color: #555555;
}

.sepLine{
    border: 0px;
    height: 5px;
    margin: 30px;
    background-image: linear-gradient(to right, white, #eeb7b2, white);
}

.text{
    position: relative;
    margin: auto;
}

.text p{
    position: absolute;
    top: 45%;
    transform: translate(0%, -50%);
}

.img{
    width: 500px;
    height: 500px;
}

#PIC{
    background-color: rgb(230, 206, 74);
    width: 70%; 
    height: 30px; 
    margin-top: 10px;
    margin-bottom: 0px;
}

#PIC:hover{
    background-color: gold; 
    transition: all 0.2s ease;
}

.flexslider{
    border: 0;
}

/*超連結提示使用者不能點選(未完)
a{  
    cursor: not-allowed;
}*/

/*場所簡介*/
.place{
    font-size: 30px;
}

/*footer*/
footer{
    font-size: 15px; 
    color: #555555;
    text-align: center;
}

footer p{
    font-size: 15px; 
    text-align: center;
}

/*RWD*/
@media screen and (max-width:1280px){

    nav a{
        width: 15%;
        height: 68px;
        margin: 0px 1.15% 15px 1.15%;
    }

    #TITLE{
        line-height: 400px;
        font-size: 30px;
    }

    article div{
        height: 400px;
    }
    
    article div div{
        width: 400px;
    }

    .text{
        overflow: auto;
    }

    .img{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:900px){
    *{
        font-size: 12.5px;
    }
    nav{
        margin-top: 0px;
    }
    nav div{
        width: 18%;
        height: 60px;
        margin: 0px 1.15% 20px 1.15%;
        text-decoration: none;
    }

    nav div p b{
        font-size: 20px;
    }

    #TITLE{
        line-height: 300px;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    article div{
        height: 300px;
        margin-bottom: 0px;
    }
    
    article div div{
        width: 300px;
        margin: 0 -1%;
    }

    .text{
        overflow: hidden;
    }


    .img{
        width: 300px;
        height: 300px;
    }

    #PIC{
        height: 30px; 
    }

    #PIC b {
        font-size: 20px;
    }
    
    .place{
        font-size: 20px;
    }

}

@media screen and (max-width:600px){
    *{
        font-size: 12px;
        font-style: "微軟正黑體",sans-serif;
    }
    header{
        display: none;
    }

    nav{
        margin-top: 20px;
    }
    nav div{
        display: inline-block;
        color: white;
        background-color: #eeb7b2;
        width: 20%;
        height: 45px;
        margin: 0px 1.15% 20px 1.15%;
        text-decoration: none;
    }

    nav div p b{
        font-size: 15px;
    }

    #TITLE{
        line-height: 300px;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    article div{
        height: 600px;
    }
    
    article div div{
        height: 300px;
        margin: 0px 0%;
        background-color: #eeb7b2;
        color: #555555;
        vertical-align: middle;
    }

    article div div a p b{
        font-size: 15px;
    }


    .sepLine{
        display: block;
    }

    .img{
        width: 300px;
        height: 300px;
    }

    #PIC{
        height: 30px; 
    }

    #PIC b {
        font-size: 20px;
    }

    .flexslider{
        border: 0;
        margin: 0;
    }
    

    .place{
        font-size: 15px;
    }

    #gotopButton{
        right: 50px;
        bottom: 25px;
    }
}

